<div class="orders-container">
  <app-shared-header [title]="'Mes Commandes'">
    <div header-buttons>
      <p-button
        label="Nouvelle Commande"
        icon="pi pi-plus-circle"
        (click)="navigateToCreateOrder()"
        styleClass="new-order-btn"
      ></p-button>
    </div>
    <div header-buttons>
      <p-button
        *ngIf="isAdmin"
        label="Voir commandes admin"
        icon="pi pi-briefcase"
        styleClass="admin-orders-btn"
        (click)="navigateToAdminOrders()"
      ></p-button>
    </div>
  </app-shared-header>

  <p-card styleClass="orders-card">
    <p-tabView>
      <p-tabPanel header="Commandes actuelles">
        <app-orders-table
          [orders]="orders"
          [loading]="loading"
          emptyMessage="Aucune commande trouvée"
          emptyDescription="Vous n'avez pas encore de commandes. Créez votre première commande !"
          (viewOrder)="viewOrder($event)"
          (removeOrder)="removeOrder($event)"
        ></app-orders-table>
      </p-tabPanel>
      <p-tabPanel header="Historique">
        <app-orders-table
          [orders]="pastOrders"
          [loading]="loading"
          emptyMessage="Aucune commande passée trouvée"
          emptyDescription="Aucune commande traitée dans l'historique"
          (viewOrder)="viewOrder($event)"
        ></app-orders-table>
      </p-tabPanel>
    </p-tabView>
  </p-card>

  <!-- Dialog pour les détails de la commande -->
  <app-order-details-dialog
    [(visible)]="displayDialog"
    [order]="selectedOrder"
  ></app-order-details-dialog>

  <p-toast></p-toast>
</div>
